
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
    max-height: 1500px;
    text-align: center;
    background: #cc5b0f;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(14, 140, 194, 0.1);
  }
  
  .profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .about-text h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color:white;
  }
  
  .about-text p {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.6;
    color: white;
  }
  

  @media (min-width: 768px) {
    .about-content {
      flex-direction: row;
      text-align: left;
    }
  
    .profile-image {
      margin-right: 30px;
    }
  
    .about-text h1 {
      font-size: 2.5rem;
    }
  
    .about-text p {
      font-size: 1.125rem;
    }
  }
  