

nav {
  background-color: #333; /* Background color for the navbar */
  padding: 10px 20px; /* Padding around the navbar */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the navbar is above other content */
}

ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start; 
}

li {
  margin-right: 20px; 
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 19px;
}

li:last-child {
  margin-right: 0; 
}

li:hover {
  cursor: pointer; 
  color: #fff; 
}

li.active {
  font-weight: bold; 
}

li a {
  color: #752626;
  text-decoration: none; 
  padding: 10px; 
}

.name {
  color: #fff; 
  font-weight: bold; 
  margin-left: auto; 
  font-size: 20px;
}
.shem{
  color: chocolate;
}